<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OSM2018.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OSM2018.Properties.Settings>
            <setting name="AnacondaPath" serializeAs="String">
                <value>C:\Users\takadamalab\Anaconda3\Scripts\activate.bat </value>
            </setting>
            <setting name="AnacondaEnv" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkGeneratorPath" serializeAs="String">
                <value>./Resources/PythonScript/NetworkGenerator/</value>
            </setting>
            <setting name="NetworkOutput" serializeAs="String">
                <value>./Resources/Output/Working/</value>
            </setting>
            <setting name="LayoutGeneratorPath" serializeAs="String">
                <value>./Resources/PythonScript/LayoutGenerator/</value>
            </setting>
            <setting name="lab_path" serializeAs="String">
                <value>C:\Users\majitaki\Anaconda3\Scripts\activate.bat</value>
            </setting>
            <setting name="home_path" serializeAs="String">
                <value>G:\ProgramData\Anaconda3\Scripts\activate.bat</value>
            </setting>
            <setting name="kaigi_path" serializeAs="String">
                <value>C:\ProgramData\Anaconda3\Scripts\activate.bat</value>
            </setting>
        </OSM2018.Properties.Settings>
    </userSettings>
</configuration>